{% extends "home/base.html" %}

{% block sidebar %}
    {% include "home/sidebar.html" %}
{% endblock %}

{% block header %}
    {% include "home/header.html" %}
{% endblock %}

{% block content %}
<div class="container px-5">
    <h2  class="m-2 text-center">Edit Expense</h2>
    <form method="post" class="p-4 my-4 bg-body-tertiary rounded-3" style="box-shadow: inset 0 0 8px rgb(153 153 153 / 40%);">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex gap-2">
            <button class="btn btn-primary" type="submit">Save Changes</button>
            <button class="btn btn-primary"> <a href="{% url 'index' %}" style="color:white; text-decoration: none;">Cancel</a></button>
        </div>
    </form>
</div>
{% endblock %}
