{% block expense_details_block %}
<div class="main-container">
    <ul class="headings">
        <li id="task">NAME</li>
        <li id="task">AMOUNT</li>
        <li id="task">CATEGORY</li>
        <li id="date">DATE</li>
        <li id="desc">DESCRIPTION</li>
        <li id="task">PAID</li>
        <li id="edit-container">ACTION</li>
    </ul>

    {% if expense_details %}
    {% for data in expense_details %}
        <ul class='expense-list'>
            <li id='task'>{{ data.name }}</li>
            <li id='task'>{{ data.amount }}</li>
            <li id='task'>{{ data.category }}</li>
            <li id='date'>{{ data.date }}</li>
            <li id='desc'>{{ data.description }}</li>
            <li id='task'>{{ data.paid }}</li>
            <li id="edit-container">
                <button id="task-edit"><a href="{% url 'edit' data.id %}" > <i class="bi bi-pencil-square" style="color:black;"></i></a></button>
                <button id="delete-task"><a href="{% url 'delete' data.id %}" > <i class="bi bi-trash-fill" style="color:white;"></i></a></button>
            </li>
        </ul>
        {% endfor %}
        
        {% if amount %}
            <ul class='expense-list'>
                <li id='amount'>Total Amount: {{ amount }}</li>
            </ul>
        {% endif %}
        
    {% else %}
        <p>No expenses are available.</p>
    {% endif %}
</div>
{% endblock %}
