<div class="sidebar" id="sidebar">
    <a href="/budget/index" id="home" class="{% if active_link == 'home' %}active{% endif %}">
        <i class="bi bi-house me-2"></i><span>Home</span>
    </a>
    <a href="/budget/add" id="add-expense" class="{% if active_link == 'add-expense' %}active{% endif %}">
        <i class="bi bi-folder-plus me-2"></i><span>Add Expense</span>
    </a>
    <a href="/budget/month" id="monthly-expenses" class="{% if active_link == 'monthly-expenses' %}active{% endif %}">
        <i class="bi bi-calendar-month me-2"></i><span>Monthly Expenses</span>
    </a>
    <a href="/budget/year" id="yearly-expenses" class="{% if active_link == 'yearly-expenses' %}active{% endif %}">
        <i class="bi bi-calendar me-2"></i><span>Yearly Expenses</span>
    </a>
    {% if AI_ENABLED %}
        <a href="/budget/chatbot" id="chatbot" class="{% if active_link == 'chatbot' %}active{% endif %}">
            <i class="bi bi bi-robot me-2"></i><span>AI Assistant</span>
        </a>
    {% endif %}
    <a href="/budget/charts" id="charts" class="{% if active_link == 'charts' %}active{% endif %}">
        <i class="bi bi-bar-chart-fill me-2"></i><span>Charts</span>
    </a>
    <a href="{% url 'logout' %}" id="logout" class="{% if active_link == 'logout' %}active{% endif %}">
        <i class="bi bi-box-arrow-left me-2"></i><span>Logout</span>
    </a>
</div>