.main-content{
    height: 100vh;
    width: 100%;
}


.main-container{
    margin: 5px;
}

.main-container ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    border-radius: 5px;
    font-weight: bold;
    margin-block: 10px;
    padding-block: 10px;
    justify-content: space-around;
}

.main-container .headings{
    background-color: #6f8377;
    color: white;
}

.main-container .headings li{
    width: 100px;
    margin-inline: 10px;
    text-align: center;
}

.main-container  li#desc{
    width: 200px;
    text-align: start;
}
.main-container  li#task{
    width: 100px;
    text-align: start;
}

.main-container li#date{
    font-size: 14px;
    width: 200px;
    text-align: center;
}


.expense-list{
    font-weight: 600;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    border-left: 1px solid #009688;
}

.expense-list li{
    width: 100px;
    margin-inline: 10px;
    text-align: start;
}

.expense-list button{
    padding: 4px 10px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.expense-list button#delete-task {
    background-color: #cf0000f5;;
    color: white;
}

.expense-list button#task-edit{
    background-color: #fff;
    margin-inline: 8px;
}